venv/
report.pdf
__pycache__/
1.jpeg
1.png
3.png
new.py
rep.png
backgroundImage.png
bg1.png
bgimage1.png
11.png
report.docx
Medical-Wallpapers-HD.jpg
bgImage.png
bloodsmearexamination.pdf
pdwtestreport.pdf
.env
test2.py